Program to subtract complex numbers in **python**

In [ ]:
a=3+7j
b=1+14j
print("Subtraction of two complex number= ",a-b)

Subtraction of two complex number=  (2-7j)

program to find the fourth root of a number

In [ ]:
a=256
b=a**(1/4)
print(b)

4.0

program to swap two numbers in python with the help of temporary variable

In [ ]:
n1=3
n2=5
temp=n1
n1=n2
n2=temp
print("value of n1 after swapping =",n1)
print("value of n2 after swaping=",n2 )

value of n1 after swapping = 5
value of n2 after swaping= 3

program to swap two numbers without using temporary variable

In [ ]:
n1=3
n2=5
n1,n2=n2,n1
print("value of n1 after swapping =",n1)
print("value of n2 after swapping =",n2)

value of n1 after swapping = 5
value of n2 after swapping = 3

program to convert Fahrenheit to Celsius and kelvin both

In [ ]:
Fahrenheit=99
Celsius=(Fahrenheit-32)*5/9
kelvin=273.5+Celsius
print(Celsius)
print(kelvin)

37.22222222222222
310.72222222222223

program to demonstrate all the available datatypesdatatypes in python using type() function

In [ ]:
a=5
print("type of a:",type(a))
b=5.0
print("\ntype of b:",type(b))
c=2+4j
print("\ntype of c: ",type(c))
string1="Hello"
print(string1)

type of a: <class 'int'>

type of b: <class 'float'>

type of c:  <class 'complex'>
Hello

steps to upload file in github


1.   create github profile
2.  go to repository and give repository name as letsupgrade AI ML
3. set repository as public
and create
4. upload the exsiting file from computer and submia
5. copy the github link and paste in assignmnet link